#### Goal of task : This part of the california housing market's project is about choosing the best features to predict the price !

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split # to separe the test part from the train part
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer # to put sth in the empty places of the dataset with mean or median or...
from sklearn.preprocessing import  OneHotEncoder, StandardScaler, LabelEncoder # to do the preprocessing of the dataset
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) # to avoid deprecation warnings

In [2]:
#To retrieve California real estate price data 
from sklearn import datasets
data = datasets.fetch_california_housing(data_home=None, download_if_missing=True, return_X_y=False)
print(data.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

An household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surpinsingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [18]:
#Creation of a Dataframe to manipulate data with pandas
dataset=pd.DataFrame(columns=data['feature_names'],data=data['data'])
dataset.loc[:,'Price']=data['target']
dataset.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

#### We noticed in the part 1 of this project thanks to the correlation matrix that there are some outliers ! Let's remove them !

In [4]:
#Removing outliers
mask=(dataset['AveRooms'] < 10) & (dataset['AveBedrms'] < 10) & (dataset['Population'] < 15000) & (dataset['AveOccup'] < 10 ) & (dataset['Price'] < 5)
dataset.loc[mask,:]
dataset.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

#### To know more abour the dataset , we display some statistical information

In [5]:
#Shape of the dataset
print("The shape of the dataset is :")
display(dataset.shape)
#The columns of the dataset
print("The columns of the dataset :")
display(dataset.columns)
#The type of the columns of the dataset 
print("The Type of columns of the dataset :")
display(dataset.dtypes)
#Some statistical information about the dataset
print(" Some statistical information about the dataset :")
display(dataset.describe(include="all"))
#The pourcentage of missing value in the columns of the dataset
print(" The pourcentage of missing value in the columns of the dataset:")
display(100*dataset.isnull().sum()/dataset.shape[0])

The shape of the dataset is :

(20640, 9)

The columns of the dataset :

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'Price'],
      dtype='object')

The Type of columns of the dataset :

MedInc        float64
HouseAge      float64
AveRooms      float64
AveBedrms     float64
Population    float64
AveOccup      float64
Latitude      float64
Longitude     float64
Price         float64
dtype: object

 Some statistical information about the dataset :

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

 The pourcentage of missing value in the columns of the dataset:

MedInc        0.0
HouseAge      0.0
AveRooms      0.0
AveBedrms     0.0
Population    0.0
AveOccup      0.0
Latitude      0.0
Longitude     0.0
Price         0.0
dtype: float64

#### Separate the target variable from the features

In [6]:
target_variable='Price'
X = dataset.drop(target_variable, axis = 1)
Y=dataset.loc[:,target_variable]
print('The features are :')
print(X.head())
print('The target varibale is:')
print(Y.head())

The features are :
   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude
0    -122.23
1    -122.22
2    -122.24
3    -122.25
4    -122.25
The target varibale is:
0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: Price, dtype: float64

#### We create columns containing non linear regression

In [7]:
for c in X.columns :
    X.loc[:,c+'_2']=X[c]**2
    X.loc[:,c+'_3']=X[c]**3
    X.loc[:,c+'_4']=X[c]**4
    X.loc[:,c+'_inverse1']=1/X[c]
    X.loc[:,c+'_inverse2']=1/(X[c]**2)
    
X.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedInc_2,MedInc_3,...,Latitude_2,Latitude_3,Latitude_4,Latitude_inverse1,Latitude_inverse2,Longitude_2,Longitude_3,Longitude_4,Longitude_inverse1,Longitude_inverse2
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,69.308955,577.010912,...,1434.8944,54353.799872,2.058922e+06,0.026399,0.000697,14940.1729,-1.826137e+06,2.232088e+08,-0.008181,0.000067
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,68.913242,572.076387,...,1433.3796,54267.751656,2.054577e+06,0.026413,0.000698,14937.7284,-1.825689e+06,2.231357e+08,-0.008182,0.000067
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,52.669855,382.246204,...,1432.6225,54224.761625,2.052407e+06,0.026420,0.000698,14942.6176,-1.826586e+06,2.232818e+08,-0.008181,0.000067
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,31.844578,179.702136,...,1432.6225,54224.761625,2.052407e+06,0.026420,0.000698,14945.0625,-1.827034e+06,2.233549e+08,-0.008180,0.000067
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,14.793254,56.897815,...,1432.6225,54224.761625,2.052407e+06,0.026420,0.000698,14945.0625,-1.827034e+06,2.233549e+08,-0.008180,0.000067

In [8]:
#Dividing into train_set and test_set
print("Dividing into train and test sets")
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

Dividing into train and test sets

#### Since we have only numerical columns,no missing value and no useless columns to drop,  we use only normalization !

In [9]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)
print('X_train transformed:')
print(X_train[0:5,:])
print('X_test transformed:')
print(X_test[0:5,:])

X_train transformed:
[[ 0.19001247 -1.79507596  0.90771428  0.1492426  -1.04760128  0.07408222
  -0.8400624   1.00389865 -0.03156475 -0.13764538 -0.15242575 -0.50220226
  -0.38115136 -1.25405214 -0.94149982 -0.75642616  2.4276708   1.07905239
   0.1074445  -0.00578186 -0.01174711 -1.24379542 -0.8004914  -0.00676086
  -0.01319392 -0.01092391 -0.77174054 -0.81962195 -0.23236969 -0.0401889
  -0.01545074  0.61986301 -0.00599379 -0.01113825 -0.01104955 -0.01057464
  -0.85051526 -0.78193791 -0.83670418 -0.83231992 -0.82689265  0.8437691
   0.8441503  -1.0012677   0.99857629 -0.99582641 -1.00897104  1.01140828]
 [ 0.26931072  1.85553889 -0.04200187  0.00918616  0.05210918  0.04527606
   0.98536392 -1.43477229  0.02763894 -0.10511859 -0.13793703 -0.54900732
  -0.39935857  2.2984189   2.63337202  2.88420585 -0.62070276 -0.20608152
  -0.0339419  -0.01647491 -0.0124402  -0.20769891 -0.23506222 -0.02095571
  -0.0139799  -0.01096032 -0.2982761  -0.36319584 -0.08012175 -0.03212363
  -0.01509512 -0.15158464 -0.02510395 -0.01150612 -0.01105288 -0.01057466
  -0.67940396 -0.66041613  0.97036347  0.9536373   0.93516241 -1.01032104
  -1.02035961  1.43995949 -1.44508308  1.45014232  1.42420993 -1.41883605]
 [ 0.02989505 -0.20785212 -0.30282448 -0.10209862 -0.35295521 -0.03933216
  -0.8400624   0.77948108 -0.14478302 -0.19657849 -0.17730605 -0.39672582
  -0.33778165 -0.40188518 -0.49945344 -0.52949174 -0.22308882 -0.15405961
  -0.06368223 -0.01818098 -0.01252329  0.26302542  0.09043429 -0.03162318
  -0.01453851 -0.01098479  0.12216714  0.06523016 -0.16219358 -0.03757964
  -0.01537112 -0.0881924  -0.02459123 -0.01247106 -0.0110607  -0.01057472
  -0.04462252 -0.15191835 -0.83670418 -0.83231992 -0.82689265  0.8437691
   0.8441503  -0.78077114  0.78197319 -0.78308808 -0.7766335   0.77507429]
 [-1.26447048  0.74448219 -0.81206385 -0.1766356  -0.59179448  0.09399018
  -0.75581196  0.64981759 -0.74941761 -0.41887833 -0.24731697  2.06970925
   1.60022254  0.62071518  0.45023329  0.28135257 -0.47421341 -0.1909505
  -0.1104598  -0.02035794 -0.0126099   1.709896    1.359286   -0.03846538
  -0.01488158 -0.01099918  0.42914343  0.39176728 -0.19637892 -0.03917957
  -0.01542791 -0.01408485 -0.02375175 -0.01087233 -0.01104703 -0.01057462
  -0.95856513 -0.85527295 -0.75763671 -0.75831148 -0.75780683  0.74883572
   0.74374689 -0.65298912  0.65606924 -0.65905806 -0.64319997  0.63975378]
 [-0.36701574  1.85553889 -0.52026922 -0.10780402 -0.25409501 -0.16457198
  -0.72304789  0.59994702 -0.38896027 -0.30752598 -0.2183265  -0.04783998
  -0.17124022  2.2984189   2.63337202  2.88420585 -0.62070276 -0.20608152
  -0.08548269 -0.01928042 -0.01257036  0.77042128  0.48929335 -0.0321555
  -0.01456563 -0.01098595  0.14490571  0.08902019 -0.14495953 -0.03660408
  -0.01532951 -0.1084349  -0.02477554 -0.01358286 -0.01106776 -0.01057476
   1.53953984  1.51344178 -0.72677494 -0.72931797 -0.73064216  0.71218801
   0.70513009 -0.6037673   0.60749698 -0.61113586 -0.59203548  0.58794473]]
X_test transformed:
[[ 1.44489405e-01 -5.25296884e-01  9.13337520e-02 -4.22923064e-02
   1.09850539e-01  1.78551337e-01 -1.42513494e+00  1.25325150e+00
  -6.46145664e-02 -1.55301085e-01 -1.60072345e-01 -4.73792407e-01
  -3.69788692e-01 -6.57535266e-01 -6.75864575e-01 -6.40409126e-01
  -7.85019295e-02 -1.26543889e-01 -1.72254112e-02 -1.54217216e-02
  -1.23839247e-02 -4.06075668e-01 -3.59396864e-01 -2.59575944e-02
  -1.42453552e-02 -1.09721032e-02 -1.09080471e-01 -1.73098619e-01
  -6.59538832e-02 -3.09956801e-02 -1.50275188e-02 -1.57539044e-01
  -2.51423774e-02 -9.63641181e-03 -1.10342081e-02 -1.05745007e-02
  -1.34364619e+00 -1.09522152e+00 -1.37420974e+00 -1.32488573e+00
  -1.27710782e+00  1.53196483e+00  1.58793065e+00 -1.24527577e+00
   1.23730909e+00 -1.22935408e+00 -1.26921907e+00  1.27720508e+00]
 [ 9.98204241e-01  2.68315039e-01  2.67351908e-01 -3.44086911e-01
  -1.13241081e-01 -1.48094957e-03 -7.97937179e-01  7.94442248e-01
   6.69017321e-01  3.12733735e-01  8.41017924e-02 -8.64520819e-01
  -5.05444613e-01  6.14806120e-02 -1.12611932e-01 -2.34867446e-01
  -3.72194046e-01 -1.77632041e-01  6.40973468e-03 -1.38266131e-02
  -1.22926132e-02 -6.34482949e-01 -4.93124462e-01 -5.29510646e-02
  -1.55663973e-02 -1.10262683e-02  1.20683746e+00  1.27089239e+00
  -1.17285675e-01 -3.48376166e-02 -1.52445227e-02 -1.31178409e-01
  -2.49595723e-02 -1.20606937e-02 -1.10575447e-02 -1.05746987e-02
  -3.56915817e-01 -4.13439529e-01 -7.97222892e-01 -7.95413882e-01
  -7.92487215e-01  7.96176468e-01  7.93748794e-01 -7.95497119e-01
   7.96464916e-01 -7.97346581e-01 -7.92067525e-01  7.90745794e-01]
 [ 2.47755440e-01  3.02314620e-02  1.97399137e-01 -1.42911371e-01
   1.12475146e-01 -1.86932108e-02  1.41597731e+00 -1.13554886e+00
   1.13405213e-02 -1.14186421e-01 -1.42026963e-01 -5.36606631e-01
  -3.94596825e-01 -1.82185880e-01 -3.25970607e-01 -4.04836681e-01
  -3.05353772e-01 -1.67668198e-01 -3.19687940e-03 -1.44894275e-02
  -1.23313873e-02 -5.47806176e-01 -4.43565321e-01 -3.53997107e-02
  -1.47293737e-02 -1.09928570e-02  2.87548186e-01  2.39709350e-01
  -6.52952530e-02 -3.09420609e-02 -1.50242333e-02 -1.57797681e-01
  -2.51440088e-02 -1.22515814e-02 -1.10590453e-02 -1.05747090e-02
  -2.21392458e-01 -3.02650534e-01  1.42535882e+00  1.43315446e+00
   1.43917993e+00 -1.39315156e+00 -1.38002798e+00  1.13506796e+00
  -1.13447456e+00  1.13376893e+00  1.13617209e+00 -1.13631385e+00]
 [-7.47458513e-01  6.65121001e-01 -1.74233123e-01  4.50910276e-01
  -9.05872484e-01 -4.40976225e-02 -1.13493896e+00  1.97637479e+00
  -5.74214207e-01 -3.74269190e-01 -2.37926576e-01  4.88791091e-01
   1.54129132e-01  5.20851867e-01  3.42802783e-01  1.76284347e-01
  -4.59507919e-01 -1.89171553e-01 -4.95090655e-02 -1.73959102e-02
  -1.24864100e-02  1.54388011e-02 -8.61106907e-02  2.67259381e-02
  -1.11613131e-02 -1.08206128e-02 -1.62408941e+00 -1.57180222e+00
  -2.25290844e-01 -4.00715704e-02 -1.54492467e-02  2.41291396e-01
  -1.88762491e-02 -1.25202824e-02 -1.10610601e-02 -1.05747222e-02
  -1.37516519e-03 -1.13968343e-01 -1.11013612e+00 -1.08520766e+00
  -1.06015379e+00  1.18414242e+00  1.20851556e+00 -1.94701742e+00
   1.91818060e+00 -1.88985948e+00 -2.03666936e+00  2.06761502e+00]
 [ 5.91905627e-01 -2.87213307e-01 -4.41219349e-01 -1.15617769e-01
  -6.79281387e-01 -2.04640182e-01  1.01344740e+00 -1.42978523e+00
   2.89876756e-01  5.19596766e-02 -6.15523637e-02 -7.10262525e-01
  -4.57200664e-01 -4.69792231e-01 -5.49132730e-01 -5.62535382e-01
  -1.91279702e-01 -1.48399628e-01 -7.78722745e-02 -1.89122758e-02
  -1.25552598e-02  5.71048878e-01  3.26628476e-01 -3.28822151e-02
  -1.46025482e-02 -1.09875136e-02  1.76245246e-01  1.21913120e-01
  -2.06263679e-01 -3.95425044e-02 -1.54379586e-02  2.86621776e-02
  -2.31498213e-02 -1.38587916e-02 -1.10691111e-02 -1.05747652e-02
   2.36150734e+00  2.60054182e+00  9.99702973e-01  9.84208420e-01
   9.66930666e-01 -1.03585643e+00 -1.04461975e+00  1.43486569e+00
  -1.43988125e+00  1.44483116e+00  1.41943243e+00 -1.41416136e+00]]

#### Train the model

In [10]:
regressor=LinearRegression()
regressor.fit(X_train,Y_train)
print('The model is done traning !!!')

The model is done traning !!!

In [11]:
print("R2 score on training set : ", regressor.score(X_train, Y_train))
print("R2 score on test set : ", regressor.score(X_test, Y_test))

R2 score on training set :  0.7178730937672136
R2 score on test set :  -234.05196932486686

#### The score is good on the train set and not on the test set due to the problem of overfitting it means that the model dont have lots of rows to learn but has lots of complexity ( I mean by that lots of coefficient due to the presence of lots of columns) so we do a bit of feature selection to choose the columns that we really need !

#### The Sequential Feature Selector adds (forward selection) or removes (backward selection) features to form a feature subset in a greedy fashion. At each stage, this estimator chooses the best feature to add or remove based on the cross-validation score of an estimator. In the case of unsupervised learning, this Sequential Feature Selector looks only at the features (X), not the desired outputs (y),
#### Ressource : https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SequentialFeatureSelector.html

In [15]:
from sklearn.feature_selection import  SequentialFeatureSelector
feature_selector =  SequentialFeatureSelector(regressor, n_features_to_select = 20)
feature_selector.fit(X_train, Y_train)#Learns the features to select from X.
features_list = X.columns
best_features = features_list[feature_selector.support_]
print("According to the forward selection algorithm, the following features should be kept: ")
print(best_features.to_list())

According to the forward selection algorithm, the following features should be kept:
['MedInc', 'HouseAge', 'Population', 'Latitude', 'MedInc_2', 'MedInc_3', 'MedInc_4', 'AveRooms_inverse1', 'AveRooms_inverse2', 'AveBedrms_inverse1', 'AveOccup_inverse1', 'AveOccup_inverse2', 'Latitude_2', 'Latitude_3', 'Latitude_4', 'Latitude_inverse1', 'Latitude_inverse2', 'Longitude_4', 'Longitude_inverse1', 'Longitude_inverse2']

In [16]:
X_best=X.loc[:,best_features]
print("Dividing into train and test sets")
X_train, X_test, Y_train, Y_test = train_test_split(X_best, Y, test_size=0.2, random_state=0)
print("Preprocessing X_train")
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
print(X_train[0:5,:])
print("Preprocessing X_test")
X_test = scaler.transform(X_test)
print(X_test[0:5,:])
print("Train model")
regressor = LinearRegression()
regressor.fit(X_train, Y_train)
print("R2 score on training set : ", regressor.score(X_train, Y_train))
print("R2 score on test set : ", regressor.score(X_test, Y_test))

Dividing into train and test sets
Preprocessing X_train
[[ 0.19001247 -1.79507596 -1.04760128 -0.8400624  -0.03156475 -0.13764538
  -0.15242575 -1.24379542 -0.8004914  -0.77174054 -0.85051526 -0.78193791
  -0.83670418 -0.83231992 -0.82689265  0.8437691   0.8441503  -0.99582641
  -1.00897104  1.01140828]
 [ 0.26931072  1.85553889  0.05210918  0.98536392  0.02763894 -0.10511859
  -0.13793703 -0.20769891 -0.23506222 -0.2982761  -0.67940396 -0.66041613
   0.97036347  0.9536373   0.93516241 -1.01032104 -1.02035961  1.45014232
   1.42420993 -1.41883605]
 [ 0.02989505 -0.20785212 -0.35295521 -0.8400624  -0.14478302 -0.19657849
  -0.17730605  0.26302542  0.09043429  0.12216714 -0.04462252 -0.15191835
  -0.83670418 -0.83231992 -0.82689265  0.8437691   0.8441503  -0.78308808
  -0.7766335   0.77507429]
 [-1.26447048  0.74448219 -0.59179448 -0.75581196 -0.74941761 -0.41887833
  -0.24731697  1.709896    1.359286    0.42914343 -0.95856513 -0.85527295
  -0.75763671 -0.75831148 -0.75780683  0.74883572  0.74374689 -0.65905806
  -0.64319997  0.63975378]
 [-0.36701574  1.85553889 -0.25409501 -0.72304789 -0.38896027 -0.30752598
  -0.2183265   0.77042128  0.48929335  0.14490571  1.53953984  1.51344178
  -0.72677494 -0.72931797 -0.73064216  0.71218801  0.70513009 -0.61113586
  -0.59203548  0.58794473]]
Preprocessing X_test
[[ 1.44489405e-01 -5.25296884e-01  1.09850539e-01 -1.42513494e+00
  -6.46145664e-02 -1.55301085e-01 -1.60072345e-01 -4.06075668e-01
  -3.59396864e-01 -1.09080471e-01 -1.34364619e+00 -1.09522152e+00
  -1.37420974e+00 -1.32488573e+00 -1.27710782e+00  1.53196483e+00
   1.58793065e+00 -1.22935408e+00 -1.26921907e+00  1.27720508e+00]
 [ 9.98204241e-01  2.68315039e-01 -1.13241081e-01 -7.97937179e-01
   6.69017321e-01  3.12733735e-01  8.41017924e-02 -6.34482949e-01
  -4.93124462e-01  1.20683746e+00 -3.56915817e-01 -4.13439529e-01
  -7.97222892e-01 -7.95413882e-01 -7.92487215e-01  7.96176468e-01
   7.93748794e-01 -7.97346581e-01 -7.92067525e-01  7.90745794e-01]
 [ 2.47755440e-01  3.02314620e-02  1.12475146e-01  1.41597731e+00
   1.13405213e-02 -1.14186421e-01 -1.42026963e-01 -5.47806176e-01
  -4.43565321e-01  2.87548186e-01 -2.21392458e-01 -3.02650534e-01
   1.42535882e+00  1.43315446e+00  1.43917993e+00 -1.39315156e+00
  -1.38002798e+00  1.13376893e+00  1.13617209e+00 -1.13631385e+00]
 [-7.47458513e-01  6.65121001e-01 -9.05872484e-01 -1.13493896e+00
  -5.74214207e-01 -3.74269190e-01 -2.37926576e-01  1.54388011e-02
  -8.61106907e-02 -1.62408941e+00 -1.37516519e-03 -1.13968343e-01
  -1.11013612e+00 -1.08520766e+00 -1.06015379e+00  1.18414242e+00
   1.20851556e+00 -1.88985948e+00 -2.03666936e+00  2.06761502e+00]
 [ 5.91905627e-01 -2.87213307e-01 -6.79281387e-01  1.01344740e+00
   2.89876756e-01  5.19596766e-02 -6.15523637e-02  5.71048878e-01
   3.26628476e-01  1.76245246e-01  2.36150734e+00  2.60054182e+00
   9.99702973e-01  9.84208420e-01  9.66930666e-01 -1.03585643e+00
  -1.04461975e+00  1.44483116e+00  1.41943243e+00 -1.41416136e+00]]
Train model
R2 score on training set :  0.7044413892543232
R2 score on test set :  0.6901486674771775

### In this new R2 test score we see that there is no more overfitting ! Hurray we did it ! HOW??
### Overfitting occurs when the model has few rows and lots of columns it means that it does not have enough information to learn from , using the feature selector reduces the number of the columns and the complexity of the model so it reduces the overfitting !